refs/

# latex auxfile
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.xdv
*.synctex.gz

# ipynb
*.ipynb_checkpoints

# vscode
*.code-workspace

# MacOS
*.DS_store

# fonts
# download from http://www.kopus.org/Biz/electronic/Font2.aspx
final/fonts/